@font-face {
    font-family: Facon; /* Гарнитура шрифта */
    src: url(17779.ttf); /* Путь к файлу со шрифтом */
}
body, html{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
a{
	color: #969696;
	text-decoration: none;
}
ul{
	color: #969696;
}
a:hover{
	color: #c7c7c7;
	text-decoration: none;
}
.div-container{
	width: 70%;
	margin: 0 auto;
}
.div-box-header{
	width: 50%;
	display: inline-block;
}
.left{
	float: left;
}
.right{
	float: right;
}
.div-logo-header{
	margin: 0 auto;
	width: 33%;
	margin: 3.5vw 33%;
}
.div-games{
	width: 12.5vw;
	height: 1.5vw;
	background-color: #adb8c4;
	position: absolute;
	left: 30vw;
	top: 8vw;
	border-radius: 0vw;
}
.div-games p{
	margin: 0 0 0 3.5vw;
	padding: 0.2vw 0.3vw;
	color: white;
	font-family: Arial;
	font-size: 1vw;
	font-weight: 550;
	user-select: none;
}
.div-skrins{
	background-color: #3687c4;
	border-radius: 50%;
	width: 6.5vw;
	height: 6.5vw;
	margin-right: 0; 
	position: absolute;
}
.div-skrins p{
	font-family: Facon;
	text-align: center;
	color: white;
	font-size: 5vw;
	margin: 0;
	padding: 1vw 1.5vw 1vw 0.5vw;
	user-select: none;
}
header{
	background: white;
	height: 20vw;
}
#section-first{
	background: #3787C4;
	height: auto;
}
#div-container-name{
	margin: 0 auto;
	padding: 0 2vw 0 2vw;
}
#div-container-name h1{
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-size: 3vw;
	margin: 2vw 4vw 4vw 4vw;
}
#div-container-box{
	width: 75%;
	height: 25vw;
	margin: 0 auto;
	display: inline-block;
}
#div-container-information{
	padding: 2vw 2vw 3vw 2vw;
}
#div-container-information h1{
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-size: 1.75vw;
}
#div-void{
	height: 100%;
	width: 12.5%;
	display: inline-block;
}
.div-row{
    height: 5vw;
    width: auto;
	cursor: pointer;
}
.prev:active{
	filter: invert(3);
}
.next:active{
	filter: invert(3);
}
.footer-div{
	color: #969696;
	width: 17.5%;
	padding: 1.5vw 1vw;
	color: white;
	display: inline-block;
	user-select: none;
	font-size: 1vw;
}
.footer-divInfo{
	width: 25%;
	padding: 2vw 1vw;
	text-align: center;
}
.footer-div p{
	color: #aaaaaa;
	margin: 0;
}
.footer-div ul{
	margin: 0.25vw;
}
footer{
	height: 8.25vw;
	background-color: #2b2c2d;
}
ul{
	padding: 0 1vw;
}
#div-discord{
	width: 14vw;
	height: 2.5vw;
	background: linear-gradient(to right, #8DA7FD, #6587FF);
	margin: 4vw auto;
	margin-bottom: 1vw;
	border-radius: 0.5vw;
}
#div-discord:hover{
	background: linear-gradient(to right, #7C93DF, #5977E1);
	box-shadow: 0 0 2.5vw 0.25vw #7C93DF;
	transition: box-shadow 0.25s;
}
#div-discord img{
	height: 2.25vw;
	padding: 0.125vw 0 0.125vw 1vw;
	display: inline-block;
	pointer-events: none;
	user-select: none;
}
#div-discord p{
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	display: inline-block;
	padding: 0 0 0 1vw;
	font-size: 0.9vw;
	margin: 0.75vw 0;
}
#section-second{
	height: 46vw;
}
.box-discord{
	width: 49.5%;
	display: inline-block;
	color: #2d2d2d;
}
.box-discord h1{
	text-align: center;
	font-size: 2vw;
	padding: 7.5vw 2vw 0 0;
}
#div-you{
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 1.15vw;
	color: #8f8f8f;
}
.box-png{
	width: 40%;
	display: inline-block;
	pointer-events: none;
	user-select: none;
}
.box-png img{
	width: 95%;
	padding: 5vw 0;
	pointer-events: none;
}

.carousel-right {
  padding: 10vw 1.5vw;
}
.carousel-left {
  padding: 10vw 1.5vw;
}

.banner {
  position: relative;
  top: 0;
  height: 0;
}
.banner svg {
  position: relative;
  left: 0;
  top: -21vw;
  width: 100%;
}


.bannerT {
  position: relative;
  top: 3vw;
  height: 0;
}
.bannerT svg {
  position: relative;
  left: 0;
  top: -7vw;
  width: 100%;
}


.bannerS {
  position: relative;
  top: -22vw;
  height: 0;
}
.bannerS svg {
  position: relative;
  left: 0;
  top: 0vw;
  width: 100%;
}
#section-void{
	height: 12vw;
}
#Button_Body, #Button_Games, #Button_Discord, #Button_Cat, #Button_Gena, #Button_Peace{
	cursor: pointer;
}


::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:0.5vw;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0.vw;
background-color:#2B2C2D;
}


::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:0.5vw;
height:0px
}

::-webkit-scrollbar{
width: 0.5vw;
}


/* Собственно сам слайдер */
.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 100%;
    margin-bottom: 1vw;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 90%;
    margin: 0 5%;
    height: auto;
    border: none !important;
    box-shadow: none !important;
    
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 1vw;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 0.75vw;
    width: 0.75vw;
    margin: 0 0.2vw;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}