html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color: #323232;
}
.Box{
	width: 20%;
	margin: 2vw auto;
}
.Box a{
}
.Box img{
	width: 100%;
	border-radius: 2vw;
}