html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color: #323232;
}
.Box{
	width: 65%;
	margin: 10vw auto;
}
.Box a{
}
.Box img{
	width: 100%;
	border-radius: 5vw;
}