html, body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #202020;
}
header{
	background: url(../img/bg-header-f1.png) repeat-x top / cover;
	/*	background-size: 100% 50%;
		background: url(../img/bg-header.png) no-repeat top;
	background-attachment: fixed;*/
	width: 100%;
	min-height: 25vw;
	position: relative;
	animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: banner-animate;

/*	background: url(../img/bg-header3.png) no-repeat center top / cover;
	background-size: 100% 50%;
	background: url(../img/bg-header.png) no-repeat top;
	background-attachment: fixed;
	width: 100%;
	min-height: 25vw;
	position: relative;*/
}


@media (max-width: 1200px) {
    .banner-wrap{
        animation-name: banner-animate-mobile;
    }
}

@keyframes banner-animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: calc(100% - 100vw + 15px) 0;
    }
}

@keyframes banner-animate-mobile {
    from {
        background-position: 0 0;
    }
    to {
        background-position: calc(100% - 1000vw) 0;
    }
}
a{
	text-decoration: none
}
.point{
	cursor: pointer;
}
.container-box{
	width: 65%;
	margin: 0 auto;
}



.itc-slider-1 .itc-slider__item { 
	max-width: 50%;
	height: 18vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.8);
	font-size: 7rem;
}
.itc-slider-2 .itc-slider__item { 
	max-width: 50%;
	height: 18vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.8);
	font-size: 7rem;
}
.container {
	max-width: 85%;
	margin: 1vw auto;
}

.hotbar-select{
	background-color: rgba(0,0,0,0.2);
}
#section-hotbar.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
.shadow{
	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.21);
}
.shadow-m{
	box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.62);
}


.post-news{
    width: 100%;
    height: 18vw;
    background-position: top;
}
.box-news{
    background-size: auto 100%;
}
.box-events{
    background-size: 100% auto;
}
.post-shadow{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.85));
}
.div-last-news-box-none{
	width: 70%;
	margin: 0 12.5%;
	float: right;
}
.box-internal{
	width: 70%;
	margin: 0 12.5%;
	float: right;
}
.post-name{
	color: white;
	margin: 0;
	padding: 0;
	font-size: 1.12vw;
}
.post-news-name{
	margin-top: 8vw;
}.post-events-name{
	margin-top: 14vw;
}
.post-news-time{
	position: absolute;
	bottom: 0px;
	color: white;
	user-select: none;
	padding: 0;
	font-size: 0.90vw;
	margin: 0.75vw 0;
}
.post-shadow:hover{
	background-color: rgba(27,74,161,0.6);
	transition: 0.25s ease background-color;
}



.list-documents-box{
	margin: 3.5%;
	background-color: white;
	width: 17.5%;
	height: 13.5vw;
	display: inline-block;
	float: left;
}
.point-name{
	color: #EB5E28;
	font-size: 1.35vw;
    font-weight: 300;
	margin: 0;
}
.point-description{
	color: #545E69;
	font-size: 0.9vw;
	margin: 1vw 0;
    font-weight: 300;
}
.point-forthetime{
	color: #2D93C5;
	font-size: 0.9vw;
    font-weight: 300;
	margin: 0.5vw 0 0 0;
}



.box-information{
	width: 23%;
	height: 9vw;
	display: inline-block;
}
.div-internal{
	text-align: center;
	color: white;
}
.box-info{
	float: left;
	width: 100%;
	margin: 1vw 0;
}
.div-info-number{
	font-size: 3vw;
	margin: 0;
}
.div-none-alphab{
	margin-top: 1vw;
	margin: 0;
}
.div-info-alphab{
	font-size: 1vw;
	font-weight: bold;
}